$perspective: 800px;
$textColor: beige;
$hoverBackgroundColor: aqua;
$bodyBackgroundColor: bisque;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bodyBackgroundColor;
}

.card-hover-container {
  width: 35rem;
  min-height: 80vh;
  display: flex;
  perspective: $perspective;
  justify-content: center;
  align-items: center;
  transition: "all 0.5s ease";
  /* background-color: $hoverBackgroundColor; */
}

.card-container {
  position: relative;
  cursor: pointer;
  perspective: $perspective;
  transform-style: preserve-3d;
  overflow: hidden;
  min-height: 70vh;
  width: 30rem;
  border-radius: 15px;
  padding: 0rem 5rem;
  box-shadow: rgba(black, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px,
    inset rgba(white, 0.5) 0 0 0 6px;
  backface-visibility: hidden;

  &:hover {
    box-shadow: rgba(white, 0.2) 0 0 40px 5px, rgba(white, 1) 0 0 0 1px,
      rgba(black, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px,
      inset white 0 0 0 6px;
    transition: "box-shadow 2s cubic-bezier(0.445, 0.05, 0.55, 0.95)";
  }
}

.card-background {
  height: 110%;
  width: 110%;
  top: -1.5rem;
  left: -1.5rem;
  perspective: $perspective;
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75)),
    url("./pic.jpg");
  background-position: center;
  background-size: cover;
}

.card-info {
  position: absolute;
  transform-style: preserve-3d;
  bottom: 0;
  margin: 0rem 3rem 3rem -3rem;
  z-index: 3;
  color: $textColor;
  backface-visibility: hidden;
  h3 {
    font-weight: lighter;
  }
}

.card-title,
.card-content {
  backface-visibility: hidden;
  transition: all 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
