*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: bisque;
}

.card-hover-container {
  width: 35rem;
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-perspective: 800px;
          perspective: 800px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: "all 0.5s ease";
  transition: "all 0.5s ease";
  /* background-color: $hoverBackgroundColor; */
}

.card-container {
  position: relative;
  cursor: pointer;
  -webkit-perspective: 800px;
          perspective: 800px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  overflow: hidden;
  min-height: 70vh;
  width: 30rem;
  border-radius: 15px;
  padding: 0rem 5rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
          box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card-container:hover {
  -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0 0 40px 5px, white 0 0 0 1px, rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset white 0 0 0 6px;
          box-shadow: rgba(255, 255, 255, 0.2) 0 0 40px 5px, white 0 0 0 1px, rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset white 0 0 0 6px;
  -webkit-transition: "box-shadow 2s cubic-bezier(0.445, 0.05, 0.55, 0.95)";
  transition: "box-shadow 2s cubic-bezier(0.445, 0.05, 0.55, 0.95)";
}

.card-background {
  height: 110%;
  width: 110%;
  top: -1.5rem;
  left: -1.5rem;
  -webkit-perspective: 800px;
          perspective: 800px;
  position: absolute;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.75))), url("./pic.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75)), url("./pic.jpg");
  background-position: center;
  background-size: cover;
}

.card-info {
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  bottom: 0;
  margin: 0rem 3rem 3rem -3rem;
  z-index: 3;
  color: beige;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card-info h3 {
  font-weight: lighter;
}

.card-title,
.card-content {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
/*# sourceMappingURL=style.css.map */